body {
    margin: 0;
}
iframe {
	display: block;      
	border: none;        
	height: 90vh;        
	width: 100vw;
	margin-left:auto;
	margin-right:auto;
}
#nav {
height:80px;
width:750px;
margin:0 auto;
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
height:50px;
width:128px;
line-height:50px;
text-decoration:none; 
padding :0;
margin-top:15px;
}
#nav img {
display:block;
text-align:center;
height:80px;
width:80px;
line-height:80px;
}
#job_table_wrapper{
margin:0 auto;
max-width: 500px;
}
#myTable_wrapper{
margin-left:10px;
margin-right:10px;
}
td input{
text-align:center;
display:block;
margin:auto;

}
.footer {
        margin-top:30px;
        color: #AAAAAA;
        font-size: 90%;
}
.footer p{
	text-align:center;

}
.footer a {
        text-decoration:none;
        color: #999999;
}
.footer a:hover {
        text-decoration:none;
        color: #666666;
}
a,.div-filter{
	cursor: pointer;
	color: #337ab7;
	text-decoration: none;
}
a:hover,a:focus,.div-filter:hover,.div-filter:focus {
  color: #23527c;
  text-decoration: underline;
}
